<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/research/' %} active {% endif %}"><a href="{{ "/research/" | absolute_url }}">Research</a></li>
  <li class="{% if page.url contains '/pubs/' %} active {% endif %}"><a href="{{ "/pubs/" | absolute_url }}">Publications</a></li>
  <li class="{% if page.url contains '/vita/' %} active {% endif %}"><a href="{{ "/vita/" | absolute_url }}">Vita</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/contact_me/' %} active {% endif %}"><a href="{{ "/contact_me/" | absolute_url }}">Contact Me</a></li>
</ul>

<ul class="icons">
  <li><a href="https://instagram.com/{{site.instagram}}" class="fab fa-instagram" rel="nofollow"></a></li>
  <li><a href="https://github.com/{{site.github}}" class="fab fa-github" rel="nofollow"></a></li>
  <li><a href="https://researchgate.net/profile/{{site.researchgate}}" class="fab fa-researchgate" rel="nofollow" ></a></li>
  <li><a href=" https://osf.io/{{site.osf}}" class="fas fa-atom" rel="nofollow" ></a></li>
</ul>
